/* Sidebar styling */
.sidebar {
  width: 250px;
  flex-shrink: 0;
  background-color: #2c3e50;
  color: #fff;
  overflow-y: auto;
  transition: 0.4s;
  position: absolute;
  right: 250px;
  top: 100px;
  border-radius: 5px;
  left: auto;
}

/* Sidebar styling when open */
.sidebar.open {
  width: 0;
}

/* Profile info section styling */
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #34495e;
}

/* Profile image styling */
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

/* Profile details section styling */
.profile-details {
  flex-grow: 1;
  text-align: center;
}

/* Header styling for profile details */
.profile-details h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Text styling for profile details */
.profile-details p {
  font-size: 1rem;
  margin-bottom: 8px;
}

/* Styling for bio text in profile details */
.profile-details p.bio {
  font-style: italic;
}

/* Styling for interests and website text in profile details */
.profile-details p.interests,
.profile-details p.website {
  font-weight: bold;
  color: #3498db;
}
